	<section class="block-container">
		<div class="block-container__item">
			<div class="block-container__item-imagecontainer">
				<div class="block-container__item-image">
					<img class="block-container__item__image"src="{{img.[0].img}}"/>	
				</div>
				<div class="block-container__item-image">
					<img class="block-container__item__image"src="{{img.[1].img}}"/>	
				</div>
			</div>	
			<div class="block-description">
				<h1>{{title}}</h1>
					<h3>beschrijving</h3>
						<p class="Label">{{text.[0].text}}</p>
					<h3>doelstelling</h3>
						<p class="Label">{{text.[1].text}}</p>
						<p class="Label">{{name.[0].name}}</p>
					<a href="{{links}}" target="_blank"><li>{{links}}</li></a>
			</div>
			<div class="block-description">				
				<h1>Tools</h1>
				<div class="skills">
					<div class="skills__text">
						<div class="block-list--tools-container__text"></div>
					</div>
					<svg class="block-list--tools-container"></svg>
				</div>
			</div>

		</div>
	</section>