	<section class="block-container">
		<div class="block-container__item">
			<div class="block-container__item-image">
				<img src="{{images}}"/>	
			</div>
			<div class="block-description">
				<h1>{{title}}</h1>
				<p class="Label">{{paragraph}}</p>
			</div>
			<div class="block-description">
				<h1>{{title}}</h1>
				<p class="Label">{{paragraph}}</p>
				<a href="/{{links}}"><li>test live: {{links}}</li></a>
			</div>
			<div class="block-container__item-image">
				<img src="{{images}}"/>	
			</div>
		</div>
	</section>