	<section class="block-container">
		<div class="block-container__item">
			<div class="block-container__item-imagecontainer">
			{{#each item.img}}		
				<div class="block-container__item-image">
					<img class="block-container__item__image"src="{{this.img}}"/>
				</div>
			{{/each}}
			</div>	
			<div class="block-description">
			{{#each item.entry}}
				<h1>{{title}}</h1>
					{{#each ../item.text}}	
					<h3>{{this.sub-title}}</h3>
						<p>{{this.text}}</p>
					{{/each}}
				<a href="{{links}}" target="_blank"><li>{{links}}</li></a>
			{{/each}}
			</div>
			<div class="block-description">				
				<h1>Tools</h1>
				<div class="skills--secondary">
					<div class="skills__text">
						<div class="block-list--tools-container__text"></div>
					</div>
					<svg class="block-list--tools-container"></svg>
				</div>
			</div>
		</div>
	</section>