	<section class="block-container">
		<div class="block-container__item">
			<div class="block-container__item-image">
				<img src="{{img.[0].img}}"/>	
			</div>
			<div class="block-description">
				<h1>{{title}}</h1>
				<h3>beschrijving</h3>
				<p class="Label">{{text.[0].text}}</p>
				<h3>doelstelling</h3>
				<p class="Label">{{text.[1].text}}</p>
				<p class="Label">{{name.[0].name}}</p>
			</div>
			<div class="block-description">				
				<h1>Tools</h1>
				<div class="skills">
					<div class="block-list--tools-container__text"></div>
					<svg class="block-list--tools-container"></svg>
				</div>
				<a href="{{links}}" target="_blank"><li>test live: {{links}}</li></a>
			</div>
			<div class="block-container__item-image">
				<img src="{{img.[1].img}}"/>	
			</div>
		</div>
	</section>