	<section class="block-container">
		<div class="block-container__item">
			<div class="block-container__item-imagecontainer">
				{{#each img}}		
				<div class="block-container__item-image">
					<img class="block-container__item__image"src="{{img}}"/>	
				</div>
				{{/each}}
			</div>	
			<div class="block-description">
				<h1>{{title}}</h1>
					<h3>beschrijving</h3>
						<p>{{text.[0].text}}</p>
					<h3>doelstelling</h3>
						<p>{{text.[1].text}}</p>
						<p>{{name.[0].name}}</p>
					<a href="{{links}}" target="_blank"><li>{{links}}</li></a>
			</div>
			<div class="block-description">				
				<h1>Tools</h1>
				<div class="skills--secondary">
					<div class="skills__text">
						<div class="block-list--tools-container__text"></div>
					</div>
					<svg class="block-list--tools-container"></svg>
				</div>
			</div>
		</div>
	</section>