	<section class="block-container">
		<div class="block-container__item">
			<div class="block-container__item-image">
				<img src="{{img.[1].img}}"/>	
			</div>
			<div class="block-description">
				<h1>{{title}}</h1>
				<p class="Label">{{text.[0].text}}</p>
			</div>
			<div class="block-description">
				<h1>{{title}}</h1>
				<p class="Label">{{text.[1].text}}</p>
				<a href="/{{links}}"><li>test live: {{links}}</li></a>
			</div>
			<div class="block-container__item-image">
				<img src="{{img.[2].img}}"/>	
			</div>
		</div>
	</section>