<section>
	<div class="container" id="assignments" name="assignments">
	    <h1>Your Node Express App</h1>
	    <div class="block-list">
	    	<a href="/post-1">
	    		<div class="block-image odd">
				<div class="block-item" id="post-1">
					<div class="block-text">			    		
			    		<h1>{{title}}</h1>
			    		<p>{{paragraph}}</p>
			    	</div>
		    	</div>
	    		<img src="../assets/images/placeholder-image-3.jpg"></div>	
	    	</a>
	    	<a href="/post-2">
	    		<div class="block-image even bla"><div class="pos"><img src="../assets/images/placeholder-image-3.jpg"></div></div>
	    		<div class="block-item" id="post-2">
			    	<div class="block-text">
			    		<h1>{{title}}</h1>
			    		<p>{{paragraph}}</p>
			    	</div>	
		    	</div>
	    	</a>
	    	<a href="/post-3">
	    		<div class="block-image odd blo"><div class="pos"><img src="../assets/images/placeholder-image-4.jpg"></div></div>	
	    		<div class="block-item" id="post-3">
		    		<div class="block-text">
			    		<h1>{{title}}</h1>
			    		<p>{{paragraph}}</p>
		    		</div>
		    	</div>
	    	</a>
	    	<a href="/post-4">
	    		<div class="block-image even fourth"><div class="pos"><img src="../assets/images/placeholder-image-5.jpg"></div></div>
	    		<div class="block-item" id="post-4">	
			    	<div class="block-text">			    		
			    		<h1>{{title}}</h1>
			    		<p>{{paragraph}}</p>
			    	</div>
			    </div>
	    	</a>
	    	<a href="/post-5">
	    		<div class="block-image odd fifth"><div class="pos"><img src="../assets/images/placeholder-image-6.jpg"></div></div>
	    		<div class="block-item" id="post-5">
		    		<div class="block-text">
			    		<h1>{{title}}</h1>
			    		<p>{{paragraph}}</p>
		    		</div>
		    	</div>
	    	</a>
	    	<a href="/post-6">
	    		<div class="block-image even sixth"><div class="pos"><img src="../assets/images/placeholder-image-6.jpg"></div></div>
	    		<div class="block-item" id="post-6">
		    		<div class="block-text">
			    		<h1>{{title}}</h1>
			    		<p>{{paragraph}}</p>
		    		</div>
		    	</div>
	    	</a>
		</div>
	</div>
	<div class="about" id="about-jesse" name="about-jesse">
		<h1>Tools</h1>
		<div class="block-list--tools-container">
		    <div class="block-item--tools">
		    	<div class="block-item--tools__image"><img src="../assets/images/placeholder-image-6.jpg"></div>
		    	<h1>node.js</h1>
		    	<p>tools</p>
		    </div>
			<div class="block-item--tools">
				<div class="block-item--tools__image"><img src="../assets/images/placeholder-image-6.jpg"></div>
				<h1>express.js</h1><p>tools</p>
			</div>
			<div class="block-item--tools">
				<div class="block-item--tools__image"><img src="../assets/images/placeholder-image-6.jpg"></div>
				<h1>SASS</h1><p>tools</p>
			</div>
			<div class="block-item--tools">
				<div class="block-item--tools__image"><img src="../assets/images/placeholder-image-6.jpg"></div>
				<h1>D3.js</h1><p>tools</p>
			</div>
			<div class="block-item--tools">
				<div class="block-item--tools__image"><img src="../assets/images/placeholder-image-6.jpg"></div>
				<h1>GIT</h1><p>tools</p>
			</div>
			<div class="block-item--tools">
				<div class="block-item--tools__image"><img src="../assets/images/placeholder-image-6.jpg"></div>
				<h1>handlebars/mustache/jade</h1><p>tools</p>
			</div>
		</div>
		<h1>Tools</h1>
			<div class="block-list--tools-container">
				<h1>Modulaire</h1>
				<h1>Leesbaar</h1>
				<h1>D.R.Y</h1>
			</div>
		<div class="block-list--tools-container">
			<h1>toekomst</h1>
			<h2>meteor.js</h2>
		</div>
	</div>
</section>