<section>
	<div class="container" id="assignments" name="assignments">
	    <div class="banner" id="projects"><h1>Projects</h1></div>
	    <div class="block-list">
	    	<a href="/post-1">
	    		<div class="block-image odd">
				<div class="block-item" id="post-1">
					<div class="block-text">			    		
			    		<h1>{{title}}</h1>
			    		<p>{{paragraph}}</p>
			    	</div>
		    	</div>
	    		<img src="../assets/images/placeholder-image-3.jpg"></div>	
	    	</a>
	    	<a href="/post-2">
	    		<div class="block-image even bla"><div class="pos"><img src="../assets/images/placeholder-image-3.jpg"></div></div>
	    		<div class="block-item" id="post-2">
			    	<div class="block-text">
			    		<h1>{{title}}</h1>
			    		<p>{{paragraph}}</p>
			    	</div>	
		    	</div>
	    	</a>
	    	<a href="/post-3">
	    		<div class="block-image odd blo"><div class="pos"><img src="../assets/images/placeholder-image-4.jpg"></div></div>	
	    		<div class="block-item" id="post-3">
		    		<div class="block-text">
			    		<h1>{{title}}</h1>
			    		<p>{{paragraph}}</p>
		    		</div>
		    	</div>
	    	</a>
	    	<a href="/post-4">
	    		<div class="block-image even fourth"><div class="pos"><img src="../assets/images/placeholder-image-5.jpg"></div></div>
	    		<div class="block-item" id="post-4">	
			    	<div class="block-text">			    		
			    		<h1>{{title}}</h1>
			    		<p>{{paragraph}}</p>
			    	</div>
			    </div>
	    	</a>
	    	<a href="/post-5">
	    		<div class="block-image odd fifth"><div class="pos"><img src="../assets/images/placeholder-image-6.jpg"></div></div>
	    		<div class="block-item" id="post-5">
		    		<div class="block-text">
			    		<h1>{{title}}</h1>
			    		<p>{{paragraph}}</p>
		    		</div>
		    	</div>
	    	</a>
	    	<a href="/post-6">
	    		<div class="block-image even sixth"><div class="pos"><img src="../assets/images/placeholder-image-6.jpg"></div></div>
	    		<div class="block-item" id="post-6">
		    		<div class="block-text">
			    		<h1>{{title}}</h1>
			    		<p>{{paragraph}}</p>
		    		</div>
		    	</div>
	    	</a>
		</div>
	</div>
	<div class="about" id="about-me" name="about-jesse">
		<h1>Methodology &amp visie</h1>
		<h1>Tools</h1>
		<div class="skills">
			<svg class="block-list--tools-container"></svg>
		</div>
		<h1>Tijdlijn</h1>
		<h1>Git Activiteit</h1>
		<div class="git-feed">
			<svg class="removed"></svg>	
			<svg class="added"></svg>
			<div class="git-feed__description">
				<h2>code removed</h2>
				<h2>code added</h2>
			</div>
		</div>
	</div>
</section>
