<section>
	<div class="container" id="assignments" name="assignments">
	    <div class="banner" id="projects"><h1>Projects</h1></div>
	    <div class="block-list">
	    	<a href="/datavisualisatie">
	    		<div class="block-image odd"><img src="../assets/images/placeholder-image-3.jpg">
				<div class="block-item" id="post-1">
					<div class="block-text">			    		
			    		<h1>{{title.[0].title}}</h1>
			    		<p>{{paragraph.[0].paragraph}}</p>
			    	</div>
		    	</div>
	    		</div>	
	    	</a>
	    	<a href="/resizer">
	    		<div class="block-image even bla"><div class="pos"><img src="../assets/images/og_grrr.png"></div>
	    		<div class="block-item" id="post-2">
			    	<div class="block-text">
			    		<h1>{{title.[1].title}}</h1>
			    		<p>{{paragraph.[1].paragraph}}</p>
			    	</div>	
		    	</div>
		    	</div>
	    	</a>
	    	<a href="/melkweg">
	    		<div class="block-image odd blo"><div class="pos"><img src="../assets/images/melkweg.png"></div>
	    		<div class="block-item" id="post-3">
		    		<div class="block-text">
			    		<h1>{{title.[2].title}}</h1>
			    		<p>{{paragraph.[2].paragraph}}</p>
		    		</div>
		    	</div>
		    	</div>	
	    	</a>
	    	<a href="/score-app">
	    		<div class="block-image even fourth"><div class="pos"><img src="../assets/images/placeholder-image-5.jpg"></div>
	    		<div class="block-item" id="post-4">	
			    	<div class="block-text">			    		
			    		<h1>{{title.[3].title}}</h1>
			    		<p>{{paragraph.[3].paragraph}}</p>
			    	</div>
			    </div>
			    </div>
	    	</a>
	    	<a href="/pathogen">
	    		<div class="block-image odd fifth"><div class="pos"><img src="../assets/images/placeholder-image-6.jpg"></div>
	    		<div class="block-item" id="post-5">
		    		<div class="block-text">
			    		<h1>{{title.[5].title}}</h1>
			    		<p>{{paragraph.[5].paragraph}}</p>
		    		</div>
		    	</div>
		    	</div>
	    	</a>
	    	<a href="/klassiekwijzer">
	    		<div class="block-image even sixth"><div class="pos"><img src="../assets/images/klassiekwijzer.png"></div>
	    		<div class="block-item" id="post-6">
		    		<div class="block-text">
			    		<h1>{{title.[4].title}}</h1>
			    		<p>{{paragraph.[4].paragraph}}</p>
		    		</div>
		    	</div>
		    	</div>
	    	</a>
		</div>
	</div>
	<div class="about" id="about-me" name="about-jesse">
		<h1>visie</h1>
		<section class="block-container">
			<div class="block-container__item">
				<div class="block-container__item-image--reverse">
					<img src="{{img.[0].img}}"/>	
				</div>
				<div class="block-description--reverse">
					<h1>Modulair</h1>
					<p class="Label">{{text.[0].text}}</p>
				</div>
				<div class="block-container__item-image--no-float">
					<img src="{{img.[2].img}}"/>	
				</div>
				<div class="block-description">
					<h1>Herbruikbaar</h1>
					<p class="Label">{{text.[1].text}}</p>
				</div>
			</div>
		</section>
		<h1>Tools</h1>
		<div class="skills">
			<div class="block-list--tools-container__text"></div>
			<svg class="block-list--tools-container"></svg>
		</div>
		<h1>Tijdlijn</h1>
		<div class="timeline">
			<div class="timeline__container">
				<div class="timeline__phase"><h5>CMD</h5>
				<div class="timeline__period"><h5>Haboes</h5>
					<div class="timeline__tools-item">
						<div class="timeline__tools-item__description">Javascript</div>
					</div>
				</div>
				<div class="timeline__period"><h5>datavisualisatie</h5>
					<div class="timeline__tools-item">
						<div class="timeline__tools-item__description">D3.js</div>
					</div>
				</div>
				<div class="timeline__period"><h5>Grrr</h5>
					<div class="timeline__tools-item">
						<div class="timeline__tools-item__description">Git</div>
					</div>
					<div class="timeline__tools-item">
						<div class="timeline__tools-item__description">Node.js</div>
					</div>
					
				</div>
				<div class="timeline__period"><h5>afstuderen</h5>
					<div class="timeline__tools-item">
						<div class="timeline__tools-item__description">Express.js</div>
					</div>
					<div class="timeline__tools-item">
						<div class="timeline__tools-item__description">SASS</div>
					</div>
				</div>
				</div>
			</div>
		</div>
		<div class="git-activity">
		<h1>Git Activiteit</h1>
		<div class="git-feed__description"><h3>Comment:</h3>
			<div class="git-feed__comment"></div>
		</div>
		<div class="git-feed">
			<svg class="added"></svg>
			<svg class="removed"></svg>	
		</div>
		</div>
	</div>
</section>
